/**
 * Header
 */
.header-title {
    padding-bottom: 10px;
}
.header-title a {
    color: #464646;
}
.header-line {
    margin-top: 10px;
    border-color: #d0d0d0;
}

/**
 * Post footer
 */
.post .site-footer {
    margin-top: 0;
}
.post .site-footer h3 {
    margin-top: 0;
}
.post .site-footer .utterances {
    max-width: 100%;
}
.post-content img {
    margin: 0 auto;
}

/**
 * Body
 */
body {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}
a {
    color: #2196f3;
}
.markdown-body {
    /* font-size: 16px; */
}
.markdown-body code {
    font-family: 'Noto Sans Mono', Courier, monospace;
    background-color: #e0f4fb;
}
.highlight pre>code {
    /* font-family: 'Fira Code', 'Source Code Pro', Courier, monospace; */
    /* font-family: 'Source Code Pro', Courier, monospace; */
    font-family: 'Noto Sans Mono', Courier, monospace;
    font-size: 0.8em;
}
.related-content {
    margin: 50px 0 0;
}
.caption {
    display: block;
    text-align: center;
    font-size: 0.9em;
}
li {
    line-height: 1.8;
}

.notices {
    padding: 10px 20px;
    background-color: #f7f2ca;
}
.notices code {
    background-color: #e5e1af;
}

figure {
    text-align: center;
}
figcaption div {
    color: #555;
    font-size: 0.92em;
}
figcaption span {
    color: #888;
    font-size: 0.9em;
    font-style: italic;
}
